<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>
<div class="jumbotron">
    <div class="container">
        <h1>
            About
            <br>
            <small>Aiming for!</small>
        </h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                About Me
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr>
    <% include footer %>
</div>
<!-- /container -->

<script type="text/javascript">
    $(document).ready(function () {
        $('#about').addClass("active");
    });
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>